# For making HTTP requests to the weather API
requests==2.31.0

# For converting text to speech
gTTS==2.5.1

# For recognizing speech from the microphone
SpeechRecognition==3.10.3

# The specific version to avoid the Windows MCI error
playsound==1.2.2

# For searching articles on Wikipedia
wikipedia==1.4.0

# For translating mixed-language text to Hindi
deep-translator==1.11.4
